@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <!-- Jumbotron -->
    <div class="p-5 text-center bg-image rounded-3" style="height: 200px; background-color:aliceblue;">
        <div class="h-50">
            <h1>@ViewBag.Slogan</h1>
        </div>
    </div>

    <div class="p-5 text-center bg-image rounded-3" style="background-image: url('img/bg.jpg'); height: 400px; background-repeat: repeat-x;">
        <div class="h-50"><a class="btn btn-outline-light btn-lg bg-primary text-white" href="Product" role="button">Ürünler</a></div>
        
    </div>

</div>
