@model IEnumerable<UrunSitesiMVC.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h1>Tedarikçiler</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Tedarikçi Adı
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>

        </tr>
}
    </tbody>
</table>
